:root {
    --main-white: rgb(255,255,255);
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-black: #222222;
  }
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  

  /* HTML level styling */
  html {
    box-sizing: border-box;
    display: block;
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    scroll-behavior: smooth;
  }




/* Body Base styles */

body {
    background-color: var(--main-white);
    font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 0.875rem; /* 18px */
    font-weight: 400;
    line-height: 1.43;
    color: var(--main-black);
  }
  

/* Main Wrapper styles */
.main-wrapper {
    display: block;
    position: relative;
    text-size-adjust: 100%;
  }
  

/* Header Wrapper styles */
.header-wrapper {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 0px 0px;
    box-sizing: border-box;
    font-size: 14px;
    height:fit-content;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    text-align: center;

  }

.logo-wrapper {
display: flex;
line-break: strict;
align-items: center;
vertical-align: middle;
padding-right: 40px;

}

.search-wrapper {
display: flex;
line-break: strict;
align-items: center;
vertical-align: middle;
padding-right: 40px;

}

.user-access-wrapper {
    display: flex;
    line-break: strict;
    align-items: center;
    vertical-align: middle;
    padding-right: 40px;
    justify-content: space-between;
    
    }

/* Theme Wrapper styles */
.theme-wrapper {
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content:space-around;
    row-gap: 32px;
    
  }

.theme-content {
display: block;


}

/* Site Content Wrapper styles */
.site-content-wrapper {
    display: flex;
    line-break: strict;
    align-items: center;
    vertical-align: middle;
    padding-right: 40px;
    justify-content:space-around;
    
}

.element-wrapper {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    
}

.element-image {
    display: block;
    height: 260px;
}

.element-text {
    display: grid;
    column-gap: 8px;
    font-size: 15px;
    row-gap: 2px;
}

/* Footer Wrapper styles */
.footer-wrapper {
    
    
}